{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $outer}
    <div class="row">
        {label $input class => 'col-sm-3 control-label' /}
        <div class="col-sm-9">
            {input $input}
        </div>
    </div>
{else}
    <div class="col-12 d-inline-flex align-items-center">
        {input $input}
    </div>
{/if}
